---
import { getCollection } from "astro:content";
import MainLayout from "@/layouts/MainLayout.astro";
import BtnCTA from "@/components/ui/buttons/BtnCTA.astro";
import CardMember from "@/components/ui/cards/CardMember.astro";
import HeroSectionAlt from "@/components/sections/landing/HeroSectionAlt.astro";
import { SITE } from "@/data_files/constants";
import type { CollectionEntry } from "astro:content";

// Fetching all members from the "members" collection
const members: CollectionEntry<"members">[] = (
  await getCollection("members")
)
  .filter((member) => member.data.activo)
  .sort((a, b) => a.data.fechaIngreso.getTime() - b.data.fechaIngreso.getTime());

// Define variables for page content
const title: string = "Miembros";
const subTitle: string = "Conoce a las mentes innovadoras que impulsan las iniciativas globales de nuestra red profesional de programadores.";

const pageTitle: string = `${title} | ${SITE.title}`;
---

<MainLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://fullstackpanama.pages.dev/miembros",
    "url": "https://fullstackpanama.pages.dev/miembros",
    "name": pageTitle,
    "description": subTitle,
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://fullstackpanama.pages.dev",
      "name": SITE.title,
      "description": SITE.description_short
    },
    "inLanguage": "es-ES"
  }}
>
  <div
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <!-- TÍTULOS -->
    <div class="mb-4 flex items-center justify-between gap-8 sm:mb-8 md:mb-12">
      <div class="flex items-center gap-12">
        <h1
          class="text-balance text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight"
        >
          {title}
        </h1>
        {
          subTitle && (
            <p class="hidden max-w-screen-sm text-pretty text-neutral-600 dark:text-neutral-400 md:block">
              {subTitle}
            </p>
          )
        }
      </div>
    </div>

    <!-- MIEMBROS -->
    <section class="grid grid-cols-1 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8 mb-32">
      {
        members.map((member) => (
          <section>
            <CardMember memberEntry={member} />
          </section>
        ))
      }
    </section>

    <!-- CTA -->
    <HeroSectionAlt
      title="¿Interesado en formar parte de esta red?"
      subTitle="¿Eres un programador apasionado por la tecnología y el desarrollo profesional? Únete a nosotros y sé parte de una red que está marcando la diferencia en el mundo tecnológico."
    >
      <BtnCTA text="¡Únete ahora!" url="/docs/guides/getting-started" />
    </HeroSectionAlt>
  </div>
</MainLayout>
